

<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

<form>

  <p style="color:blue">Name</p>
  <input type="text" name="Name"[(ngModel)]="hotdogservice.formData.Name">
  <br>

  <p style="color:blue">Price</p>
  <input type="text" name="Price" [(ngModel)]="hotdogservice.formData.Price">
 
</form>

<ion-button  color="primary" (click)="SaveHotDog()">Add Hot Dog</ion-button>
<ion-button  color="primary" (click) = "GoBackToList()">Go back to the list</ion-button>



