<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Order Item</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<br>
<ion-button color="primary" (click)="AddOrderItem()">Add Order Item</ion-button>
<br>
<ion-content>
  <div class="row header">
    <div class="col">Order ID</div>
    <div class="col">Hot Dog ID</div>
    <div class="col">Quantity</div>
    <div class="col">Update</div>
    <div class="col">Delete</div>
  </div>
  <div class="row" *ngFor="let OrderItem of OrderItemList">
    <div class="col">{{OrderItem.OrderItemID}}</div>
    <div class="col">{{OrderItem.HotDogID}}</div>
    <div class="col">{{OrderItem.Quantity}}</div>
    <div class="col">
      <button mdbBtn color="indigo" (click) = "EditOrderItem(OrderItem)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
    </div>
    <div class="col">
      <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteOrderItem(OrderItem.OrderItemID)">Delete</button>
    </div>
  </div>
</ion-content>

<h4>If after adding a Order Item, the table does not update, please refresh the page</h4>
<br>

<h4>Update section</h4>
<p>Order ID</p>
<input type ="text" name="OrderItemID" #OrderItemID = "ngModel" [(ngModel)]="formData.OrderItemID">
<br>
<p>Hot Dog ID</p>
<input type ="text" name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="formData.HotDogID">
<br>
<p>Quantity</p>
<input type ="text" name="Quantity" #Quantity = "ngModel" [(ngModel)]="formData.Quantity">
<br>
<ion-button color="primary" (click)="SaveOrderItem()">Update OrderItem</ion-button>
 -->
 <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
 <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
 
<ion-header>
  <ion-toolbar>
    <ion-title>Order Item</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <button ion-button color="primary" (click)="AddOrderItem()">Add Order Item</button>
      <button ion-button color="primary" (click)="GoHome()">HomePage</button>
      <ion-row>
     
      <ion-col class="col">Hot Dog ID</ion-col>
      <ion-col class="col">Quantity</ion-col>
      <ion-col class="col">Update</ion-col>
      <ion-col class="col"> Delete</ion-col>
  </ion-row>
<ion-row *ngFor="let OrderItem of OrderItemList">
 
    <ion-col>{{OrderItem.HotDogID}}</ion-col>
    <ion-col>{{OrderItem.Quantity}}</ion-col>
    <ion-col>
      <button ion-button small (click) = "EditOrderItem(OrderItem)" >Update</button>
    </ion-col>
    <ion-col>
      <button ion-button small (click) = "DeleteOrderItem(OrderItem.OrderItemID)" >Delete</button>
    </ion-col>
  </ion-row>
    </ion-grid>
    <ion-title>Note:</ion-title>
    <ion-title>If after adding a Order Item </ion-title>
    <ion-title>the table does not update</ion-title>
    <ion-title>please refresh the page</ion-title>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Update Section</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-title>ID</ion-title>
<ion-input name="OrderItemID" #OrderItemID = "ngModel" [(ngModel)]="formData.OrderItemID"></ion-input>

<ion-title>HotDogID</ion-title>
<ion-input name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="formData.HotDogID"></ion-input>


<ion-title>Quantity</ion-title>
<ion-input name="Quantity" #Quantity = "ngModel" [(ngModel)]="formData.Quantity"></ion-input>

<button ion-button medium color="primary" (click)="SaveOrderItem()">Update Hot Dog</button>
  </ion-content>
