<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<form (ngSubmit)="onFormSubmit(CustomerForm)">

  <p style="color:blue">Hot Dog ID</p>
  <input type ="text" name="HotDogID" [(ngModel)]="orderitemservice.formData4.HotDogID">
  <br>

  <p style="color:blue">Quantity</p>
  <input type ="text" name="Quantity" [(ngModel)]="orderitemservice.formData4.Quantity">
  

</form>

<ion-button (click)="SaveOrderItem()">Add Order Item</ion-button>
<ion-button (click) = "GoBackToList()">Go back to the list</ion-button>
