<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Customer</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<br>
<ion-button color="primary" (click)="AddCustomer()">Add Customer</ion-button>
<br>
<ion-content>
  <div class="row header">
    <div class="col">Customer ID</div>
    <div class="col">Name</div>
    <div class="col">Surname</div>
    <div class="col">Update</div>
    <div class="col">Delete</div>
  </div>
  <div class="row" *ngFor="let customer of CustomerList">
    <div class="col">{{customer.CustomerID}}</div>
    <div class="col">{{customer.Name}}</div>
    <div class="col">{{customer.Surname}}</div>
    <div class="col">
      <button mdbBtn color="indigo" (click) = "EditCustomer(customer)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
    </div>
    <div class="col">
      <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteCustomer(customer.CustomerID)">Delete</button>
    </div>
  </div>
</ion-content>

<h4>If after adding a Customer, the table does not update, please refresh the page</h4>
<br>

<h4>Update section</h4>
<p>ID</p>
<input type ="text" name="ID" #ID = "ngModel" [(ngModel)]="formData.CustomerID">
<br>
<p>Name</p>
<input type ="text" name="Name" #Name = "ngModel" [(ngModel)]="formData.Name">
<br>

<p>Surname</p>
<input type ="text" name="Surname" #Surname = "ngModel" [(ngModel)]="formData.Surname">
<br>
<ion-button color="primary" (click)="SaveCustomer()">Update Customer</ion-button>
 -->
 <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
 <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

<ion-header>
  <ion-toolbar>
    <ion-title>Customers</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <button ion-button color="primary" (click)="AddCustomer()">Add Customer</button>
      <button ion-button color="primary" (click)="GoHome()">HomePage</button>
      <ion-row>
     
      <ion-col class="col">Name</ion-col>
      <ion-col class="col">Surname</ion-col>
      <ion-col class="col">Update</ion-col>
      <ion-col class="col"> Delete</ion-col>
  </ion-row>
<ion-row *ngFor="let customer of CustomerList">
 
    <ion-col>{{customer.Name}}</ion-col>
    <ion-col>{{customer.Surname}}</ion-col>
    <ion-col>
      <button ion-button small (click) = "EditCustomer(customer)" >Update</button>
    </ion-col>
    <ion-col>
      <button ion-button small (click) = "DeleteCustomer(customer.CustomerID)" >Delete</button>
    </ion-col>
  </ion-row>
    </ion-grid>
    <ion-title>Note:</ion-title>
    <ion-title>If after adding a Customer </ion-title>
    <ion-title>the table does not update</ion-title>
    <ion-title>please refresh the page</ion-title>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Update Section</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-title>Customer ID</ion-title>
<ion-input name="ID" #ID = "ngModel" [(ngModel)]="formData.CustomerID"></ion-input>

<ion-title>Name</ion-title>
<ion-input name="Name" #Name = "ngModel" [(ngModel)]="formData.Name"></ion-input>


<ion-title>Surname</ion-title>
<ion-input name="Surname" #Surname = "ngModel" [(ngModel)]="formData.Surname"></ion-input>

<button ion-button medium color="primary" (click)="SaveCustomer()">Update Customer</button>
  </ion-content>
