<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Orders</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<br>
<ion-button color="primary" (click)="AddOrder()">Add Order</ion-button>
<br>
<ion-content>
  <div class="row header">
    <div class="col">Order ID</div>
    <div class="col">Order Number</div>
    <div class="col">Customer ID</div>
    <div class="col">Payment Method</div>
    <div class="col">Update</div>
    <div class="col">Delete</div>
  </div>
  <div class="row" *ngFor="let Orders of OrderList">
    <div class="col">{{Orders.OrderID}}</div>
    <div class="col">{{Orders.OrderNo}}</div>
    <div class="col">{{Orders.CustomerID}}</div>
    <div class="col">{{Orders.PayMethod}}</div>
    <div class="col">
      <button mdbBtn color="indigo" (click) = "EditOrder(Orders)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
    </div>
    <div class="col">
      <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteOrder(Orders.OrderID)">Delete</button>
    </div>
  </div>
</ion-content>

<h4>If after adding a Order, the table does not update, please refresh the page</h4>
<br>

<h4>Update section</h4>

<p>Order Number</p>
<input type ="text" name="OrderNumber" #OrderNum = "ngModel" [(ngModel)]="formData.OrderNo">
<br>
<p>Customer ID</p>
<input type ="text" name="CustomerID" #CustomerID = "ngModel" [(ngModel)]="formData.CustomerID">
<br>
<p>Payment Method</p>
<input type ="text" name="PaymentMethod" #PaymentMethod = "ngModel" [(ngModel)]="formData.PayMethod">
<br>
<ion-button color="primary" (click)="SaveOrder()">Update Order</ion-button> -->

<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>

<ion-header>
  <ion-toolbar>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <button ion-button color="primary" (click)="AddOrder()">Add Orders</button>
      <button ion-button color="primary" (click)="GoHome()">HomePage</button>
      <ion-row>
     
      <ion-col class="col">Order Number</ion-col>
      <ion-col class="col">CustomerID</ion-col>
      <ion-col class="col">Payment Method</ion-col>
      <ion-col class="col">Update</ion-col>
      <ion-col class="col"> Delete</ion-col>
  </ion-row>
<ion-row *ngFor="let Orders of OrderList">
 
    <ion-col>{{Orders.OrderNo}}</ion-col>
    <ion-col>{{Orders.CustomerID}}</ion-col>
    <ion-col>{{Orders.PayMethod}}</ion-col>
    <ion-col>
      <button ion-button small (click) = "EditOrder(Orders)" >Update</button>
    </ion-col>
    <ion-col>
      <button ion-button small (click) = "DeleteOrder(Orders.OrderID)" >Delete</button>
    </ion-col>
  </ion-row>
    </ion-grid>
    <ion-title>Note:</ion-title>
    <ion-title>If after adding a Order </ion-title>
    <ion-title>the table does not update</ion-title>
    <ion-title>please refresh the page</ion-title>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Update Section</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-title>Order ID</ion-title>
<ion-input name="OrderID" #OrderNum = "ngModel" [(ngModel)]="formData.OrderID"></ion-input>

<ion-title>Order Number</ion-title>
<ion-input name="OrderNumber" #OrderNum = "ngModel" [(ngModel)]="formData.OrderNo"></ion-input>

<ion-title>Customer ID</ion-title>
<ion-input name="CustomerID" #CustomerID = "ngModel" [(ngModel)]="formData.CustomerID"></ion-input>


<ion-title>Payment Method</ion-title>
<ion-input name="PaymentMethod" #PaymentMethod = "ngModel" [(ngModel)]="formData.PayMethod"></ion-input>

<button ion-button medium color="primary" (click)="SaveOrder()">Update Order</button>
  </ion-content>
