<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<form (ngSubmit)="onFormSubmit(OrderForm)">

  <p style="color:blue">Order Number</p>
  <input type ="text" name="OrderNo" [(ngModel)]="orderservice.formData5.OrderNo">
  <br>
  <p style="color:blue">Customer ID</p>
  <input type ="text" name="CustomerID" [(ngModel)]="orderservice.formData5.CustomerID">
  <br>

  <p style="color:blue">Payment Method</p>
  <input type ="text" name="PayMethod" [(ngModel)]="orderservice.formData5.PayMethod">
  

</form>

<ion-button (click)="SaveOrder()">Add Order</ion-button>
<ion-button (click) = "GoBackToList()">Go back to the list</ion-button>