<h1 style="color: blue;">Below are the 5 tables that I CRUD</h1>

<ion-button color="primary" (click) = "OrderItems()">Go to Order Items</ion-button>
<br>
<ion-button color="primary" (click) = "HotDogs()">Go to Hot Dogs</ion-button>
<br>
<ion-button color="primary" (click) = "Users()">Go to Users</ion-button>
<br>
<ion-button color="primary" (click) = "Customers()">Go to Customers</ion-button>
<br>
<ion-button color="primary" (click) = "Orders()">Go to Orders</ion-button>