<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<form (ngSubmit)="onFormSubmit(CustomerForm)">

  <p style="color:blue">Name</p>
  <input type ="text" name="Name" [(ngModel)]="customerservice.formData3.Name">
  <br>

  <p style="color:blue">Surname</p>
  <input type ="text" name="Surname" [(ngModel)]="customerservice.formData3.Surname">
  

</form>

<ion-button (click)="SaveCustomer()">Add Customer</ion-button>
<ion-button (click) = "GoBackToList()">Go back to the list</ion-button>
