<!-- <head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Users</title>

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
</head>

<br>
<ion-button color="primary" (click)="AddUser()">Add User</ion-button>
<br>
<ion-content>
  <div class="row header">
    <div class="col">User ID</div>
    <div class="col">Name</div>
    <div class="col">Surname</div>
    <div class="col">Email</div>
    <div class="col">Password</div>
    <div class="col">Update</div>
    <div class="col">Delete</div>
  </div>
  <div class="row" *ngFor="let user of UserList">
    <div class="col">{{user.UserID}}</div>
    <div class="col">{{user.Name}}</div>
    <div class="col">{{user.Surname}}</div>
    <div class="col">{{user.Email}}</div>
    <div class="col">{{user.Password}}</div>
    <div class="col">
      <button mdbBtn color="indigo" (click) = "EditUser(user)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
    </div>
    <div class="col">
      <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteUser(user.UserID)">Delete</button>
    </div>
  </div>
</ion-content>

<h4>If after adding a User, the table does not update, please refresh the page</h4>
<h4>Update section</h4>
<p>ID</p>
<input type ="text" name="UserID" #UserID = "ngModel" [(ngModel)]="formData.UserID">
<p>Name</p>
<input type ="text" name="UserName" #UserName = "ngModel" [(ngModel)]="formData.Name">
<p>Surname</p>
<input type ="text" name="Surname" #Surname = "ngModel" [(ngModel)]="formData.Surname">
<p>Email</p>
<input type ="text" name="Email" #Email = "ngModel" [(ngModel)]="formData.Email">
<p>Password</p>
<input type ="text" name="Password" #HotDogPrice = "ngModel" [(ngModel)]="formData.Password">
<ion-button color="primary" (click)="SaveUser()">Update User</ion-button>
 -->
 <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
 <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
 
<ion-header>
  <ion-toolbar>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <button ion-button color="primary" (click)="AddUser()">Add User</button>
      <button ion-button color="primary" (click)="GoHome()">HomePage</button>
      <ion-row>
     
      <ion-col class="col">Name</ion-col>
      <ion-col class="col">Surname</ion-col>
      <ion-col class="col">Email</ion-col>
      <ion-col class="col">Password</ion-col>
      <ion-col class="col">Update</ion-col>
      <ion-col class="col"> Delete</ion-col>
  </ion-row>
<ion-row *ngFor="let user of UserList">
 
    <ion-col>{{user.Name}}</ion-col>
    <ion-col>{{user.Surname}}</ion-col>
    <ion-col>{{user.Email}}</ion-col>
    <ion-col>{{user.Password}}</ion-col>
    <ion-col>
      <button ion-button small (click) = "EditUser(user)" >Update</button>
    </ion-col>
    <ion-col>
      <button ion-button small (click) = "DeleteUser(user.UserID)" >Delete</button>
    </ion-col>
  </ion-row>
    </ion-grid>
    <ion-title>Note:</ion-title>
    <ion-title>If after adding a User </ion-title>
    <ion-title>the table does not update</ion-title>
    <ion-title>please refresh the page</ion-title>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Update Section</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-title>ID</ion-title>
<ion-input name="UserID" #UserID = "ngModel" [(ngModel)]="formData.UserID"></ion-input>

<ion-title>Name</ion-title>
<ion-input name="UserName" #UserName = "ngModel" [(ngModel)]="formData.Name"></ion-input>


<ion-title>Surname</ion-title>
<ion-input name="Surname" #Surname = "ngModel" [(ngModel)]="formData.Surname"></ion-input>

<ion-title>Email</ion-title>
<ion-input name="Email" #Email = "ngModel" [(ngModel)]="formData.Email"></ion-input>

<ion-title>Password</ion-title>
<ion-input name="Password" #HotDogPrice = "ngModel" [(ngModel)]="formData.Password"></ion-input>

<button ion-button medium color="primary" (click)="SaveUser()">Update User</button>
  </ion-content>