

<!-- <table mdbTable bordered="true">
  <tr>
    <th>Hot Dog ID </th>
    <th>Hot Dog Name</th>
    <th>Hot Dog Price</th>
  </tr>
 
  <tr *ngFor="let hotdog of HotDogList">
    <td>{{hotdog.HotDogID}}</td>
    <td>{{hotdog.Name}}</td>  
    <td>{{hotdog.Price}}</td>
    <td>
        <button mdbBtn color="indigo" (click) = "EditHotDog(hotdog)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
      </td>
      <td>
        <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteHotDog(hotdog.HotDogID)">Delete</button>
      </td>
    </tr>
</table>  -->

  <link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
  <script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>


<!-- <br>
<ion-button color="primary" (click)="AddHotDog()">Add Hot Dog</ion-button>
<br>
<ion-content>
  <ion-grid>
    <ion-row>
    <ion-col>Hot Dog ID</ion-col>
    <ion-col>Hot Dog Name</ion-col>
    <ion-col>Hot Dog Price</ion-col>
    <ion-col>Update</ion-col>
    <ion-col>Delete</ion-col>
</ion-row>
  <div class="row" *ngFor="let hotdog of HotDogList">
    <div class="col">{{hotdog.HotDogID}}</div>
    <div class="col">{{hotdog.Name}}</div>
    <div class="col">{{hotdog.Price}}</div>
    <div class="col">
      <button mdbBtn color="indigo" (click) = "EditHotDog(hotdog)" size="sm" mdbWavesEffect type="button" class="m-0">Update</button>
    </div>
    <div class="col">
      <button mdbBtn color="indigo" size="sm" mdbWavesEffect type="button" class="m-0" (click) = "DeleteHotDog(hotdog.HotDogID)">Delete</button>
    </div>
  </div>
  </ion-grid>
</ion-content>


<ion-title>If after adding a Hot Dog, the table does not update, please refresh the page</ion-title>
<br>

<h4>Update section</h4>
<p>ID</p>
<input type ="text" name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="formData.HotDogID">
<br>
<p>Name</p>
<input type ="text" name="HotDogName" #HotDogName = "ngModel" [(ngModel)]="formData.Name">
<br>

<p>Price</p>
<input type ="text" name="HotDogPrice" #HotDogPrice = "ngModel" [(ngModel)]="formData.Price">
<br>
<ion-button color="primary" (click)="SaveHotDog()">Update Hot Dog</ion-button> -->


<ion-header>
  <ion-toolbar>
    <ion-title>Hot Dogs</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-grid>
      <button ion-button color="primary" (click)="AddHotDog()">Add Hot Dog</button>
      <button ion-button color="primary" (click)="GoHome()">HomePage</button>
      <ion-row>
     
      <ion-col class="col">Hot Dog Name</ion-col>
      <ion-col class="col">Hot Dog Price</ion-col>
      <ion-col class="col">Update</ion-col>
      <ion-col class="col"> Delete</ion-col>
  </ion-row>
<ion-row *ngFor="let hotdog of HotDogList">
 
    <ion-col>{{hotdog.Name}}</ion-col>
    <ion-col>{{hotdog.Price}}</ion-col>
    <ion-col>
      <button ion-button small (click) = "EditHotDog(hotdog)" >Update</button>
    </ion-col>
    <ion-col>
      <button ion-button small (click) = "DeleteHotDog(hotdog.HotDogID)" >Delete</button>
    </ion-col>
  </ion-row>
    </ion-grid>
    <ion-title>Note:</ion-title>
    <ion-title>If after adding a Hot Dog </ion-title>
    <ion-title>the table does not update</ion-title>
    <ion-title>please refresh the page</ion-title>
    
    <ion-header>
      <ion-toolbar>
        <ion-title>Update Section</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-title>ID</ion-title>
<ion-input name="HotDogID" #HotDogID = "ngModel" [(ngModel)]="formData.HotDogID"></ion-input>

<ion-title>Name</ion-title>
<ion-input name="HotDogName" #HotDogName = "ngModel" [(ngModel)]="formData.Name"></ion-input>


<ion-title>Price</ion-title>
<ion-input name="HotDogPrice" #HotDogPrice = "ngModel" [(ngModel)]="formData.Price"></ion-input>

<button ion-button medium color="primary" (click)="SaveHotDog()">Update Hot Dog</button>
  </ion-content>

  

