
<link href="//code.ionicframework.com/nightly/css/ionic.css" rel="stylesheet">
<script src="//code.ionicframework.com/nightly/js/ionic.bundle.js"></script>
<form (ngSubmit)="onFormSubmit(UserForm)">

  <p style="color:blue">Name</p>
  <input type ="text" name="Name" [(ngModel)]="userservice.formData2.Name">
  <br>

  <p style="color:blue">Surname</p>
  <input type ="text" name="Surname" [(ngModel)]="userservice.formData2.Surname">

  <p style="color:blue">Email</p>
  <input type ="text" name="Email" [(ngModel)]="userservice.formData2.Email">

  <p style="color:blue">Password</p>
  <input type ="text" name="Password" [(ngModel)]="userservice.formData2.Password">
  

</form>

<ion-button (click)="SaveUser()">Add User</ion-button>
<ion-button (click) = "GoBackToList()">Go back to the list</ion-button>


